<div class="row container mt-4">
    <div class="col-3">
        <h2>Search by:</h2>
        <hr>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/capital">
                    Capital
                </a>
            </li>
            <li class="list-group-item">
                <a href="/country">
                    Country
                </a>
            </li>
            <li class="list-group-item">
                <a href="/region">
                    Region
                </a>
            </li>
        </ul>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>






