<div class="row container mt-4">
    <div class="col-3">
        <h2>Search by:</h2>
        <hr>
        <ul class="list-group">
            <li 
                class="list-group-item"
                routerLink="capital"
            >
                Capital
            </li>
            <li
                class="list-group-item"
                routerLink="country"
            >
                Country
            </li>
            <li
                class="list-group-item"
                routerLink="region"
            >
                Region
            </li>
        </ul>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>






